[Unit]
Description=Dadooh Image-Lab Firstboot Gate
Documentation=man:systemd.service(5)
DefaultDependencies=no
After=local-fs.target systemd-remount-fs.service
Before=dadooh-visual-splash.service kiosky-player.service totem-settings-trigger.service

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=/opt/totem/bin/totem_firstboot_gate.sh --wait --tty 2
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
