[Unit]
Description=Dadooh Open Totem Settings
After=kiosky-player.service

[Service]
Type=oneshot
ExecStart=/opt/totem/bin/totem_open_settings_session.sh --mode interactive --expect any --tty 2 --timeout-sec 1800 --out-dir /tmp/dadooh-c10-6-persistent-open-settings/session --wizard-out-dir /tmp/dadooh-c10-6-persistent-visual-wizard
StandardOutput=null
StandardError=null
